name: ci
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          pip install mkdocs-material 
          pip install pymdown-extensions
          pip install mkdocs-awesome-pages-plugin mkdocs-section-index mkdocs-jupyter

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
